In [15]:
import pandas as pd 
from datetime import datetime

In [16]:
sales = pd.read_csv("sales_train.csv")
items = pd.read_csv("items.csv")
items_cat = pd.read_csv("item_categories.csv")
shop = pd.read_csv("shops.csv")

In [17]:
# delete na values
shop.dropna()
sales.dropna()
items.dropna()
items_cat.dropna()

           item_category_name  item_category_id
0     PC - Гарнитуры/Наушники                 0
1            Аксессуары - PS2                 1
2            Аксессуары - PS3                 2
3            Аксессуары - PS4                 3
4            Аксессуары - PSP                 4
..                        ...               ...
79                  Служебные                79
80         Служебные - Билеты                80
81    Чистые носители (шпиль)                81
82  Чистые носители (штучные)                82
83           Элементы питания                83

[84 rows x 2 columns]

In [18]:
#delete rows that have negative item_price
sales = sales[sales['item_price'] >= 0]
sales = sales[sales['item_cnt_day'] >= 0]

In [19]:
# change date col format 
sales['date'] = pd.to_datetime(sales['date'], format='%d.%m.%Y')

In [20]:
sales

              date  date_block_num  shop_id  item_id  item_price  item_cnt_day
0       2013-01-02               0       59    22154      999.00           1.0
1       2013-01-03               0       25     2552      899.00           1.0
3       2013-01-06               0       25     2554     1709.05           1.0
4       2013-01-15               0       25     2555     1099.00           1.0
5       2013-01-10               0       25     2564      349.00           1.0
...            ...             ...      ...      ...         ...           ...
2935844 2015-10-10              33       25     7409      299.00           1.0
2935845 2015-10-09              33       25     7460      299.00           1.0
2935846 2015-10-14              33       25     7459      349.00           1.0
2935847 2015-10-22              33       25     7440      299.00           1.0
2935848 2015-10-03              33       25     7460      299.00           1.0

[2928492 rows x 6 columns]

In [21]:
# convert item to an int
sales['item_cnt_day'].astype(int)

0          1
1          1
3          1
4          1
5          1
          ..
2935844    1
2935845    1
2935846    1
2935847    1
2935848    1
Name: item_cnt_day, Length: 2928492, dtype: int64

In [8]:
# sales['day'] = pd.to_datetime(sales['date']).dt.day
# sales['month'] = pd.to_datetime(sales['date']).dt.month
# sales['year'] = pd.to_datetime(sales['date']).dt.year

In [9]:
first_col = items_cat.pop('item_category_id')
items_cat.insert(0, 'item_category_id', first_col)

In [22]:
first_col = items.pop('item_id')
items.insert(0, 'item_id', first_col)

In [23]:
first_col = shop.pop('shop_id')
shop.insert(0, 'shop_id', first_col)

In [10]:
sales.to_csv('sales1.csv', sep=';', encoding='utf-16', index=False)

In [11]:
items.to_csv('items1.csv', sep=';', encoding='utf-16', index=False)

In [12]:
shop.to_csv('shop1.csv', sep=';', encoding='utf-16', index = False)

In [13]:
items_cat.to_csv('items_cat_1.csv', sep=';',encoding='utf-16', index = False)